/* styles.css */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    font-size: 16px;
    --page-width: 750px;
    --footer-width: 750px;
    --content-bg-color: #f5f5dc;
    color: rgb(29, 29, 181);
}

body {
    background-color: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5rem;
    padding: 10px;

}


.nav-container {
    display: flex;
    width: var(--page-width);

    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 60px;

    list-style-type: none;
    height: 70px;

}

.nav-container li {
    position: relative;

}


.tab-cover {
    background-color: var(--content-bg-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;

    position: absolute;
    left: -7px;

    width: 130%;
    height: 64px;

    display: none;
}

.tab-cover.tab-visible {
    display: inherit;
}

.nav-button {
    color: inherit;
    background-color: inherit;
    font-size: 1.4rem;
    border: none;
    position: relative;
}

.nav-button.tab-visible {
    background-color: var(--content-bg-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;

    position: relative;



    top: 14px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;

    height: 63px;

    text-align: left;

    /* display:none; */
}


#content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 10px auto;
    padding-bottom: 20px;

    border-radius: 20px;

    width: var(--page-width);
    background-color: var(--content-bg-color);

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.menu-item-container {
    width: 50%;
    border: 1px solid;

    border-radius: 20px;
}

.menu-item-container-heading {
    display: flex;
    justify-content: space-around;
    padding: 5px;

    font-weight: 700;
}

.menu-item-text {
    margin-top: 20px;
    font-size: 1rem;
    padding: 5px 20px 5px;
}

fieldset{
    border-radius: 20px;
    border: inherit;
}
/* a form row includes the label and the input*/
.form-row {
    display: flex;
    gap: 10px;

    padding: 10px;
}

.form-label{
    width: 75px; 
}

#party{
    width: 40px;
}

#day, #time, #name, #email{
    width: 120px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex: 0 0 auto;
}

.address-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 10px;

}

.address-container p {
    padding: 0px;
}

.common-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    width: var(--footer-width);
}

.address-footer {
    font-size: 1rem;
}

.newsletter-signup-box {
    font-size: 1rem;

}



@media (max-width: 800px) {

    #content {
        width: 600px;
    }

    .common-footer {
        width: 600px;

    }
}

@media (max-width: 650px) {

    #content {
        width: 400px;
    }

    .nav-container {
        gap:20px;
    }

    .common-footer {
        width: 400px;
        flex-direction: column;

    }

    .menu-item-container {
        width: 70%;
        border: 1px solid;
    }

}

@media (max-width: 425px) {

    #content {
        width: 250px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .nav-container {
        gap: 5px;
        width: 250px;

    }

    .nav-button {

        font-size: 1rem;

    }

    .common-.nav-button {
        color: inherit;
        background-color: inherit;
        font-size: 1.4rem;
        border: none;
        position: relative;
    }

    footer {
        width: 250px;
        gap: 5px;
        flex-direction: column;

    }


    p {
        font-size: 1rem;

    }

    .menu-item-container {
        width: 80%;
        border: 1px solid;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        flex: 0 0 auto;
    }

    form {
        width: 200px;
    }

    #name {
        width: 50px;
    }



}